*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
.my-button{
    text-decoration: none;
    background: tomato;
    color: white;
    padding: 15px 50px;
    border-radius: 7px;
    margin: 10px 0;
    display: inline-block;
    font-weight: 600;
}


section{
    max-width: 85%;
    width: 100%;
    margin: auto;
}

#section01{
    margin: 40px auto;
}
.container-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    max-width: 100%;
    width: 100%;
}

#section01 .left-content, #section01 .right-content{
    max-width: 50%;
    width: 100%;
}
#section01 h1{
    font-size: 50px;
    font-weight: 600;
}
#section01 h1.second-heading{
    color: tomato;
    margin-bottom: 30px;
}
#section01 .heading{
    padding-left: 15px;
    border-left: 4px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#section01 .right-content img{
    max-width: 400px;
}

#section01 .my-button{
    margin: 20px 0 35px 0;
}



#section02{
    margin: 35px auto;
}
#section02 h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}
#section02 h1 span{
    color: orange;
}
#section02 .box{
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
#section02 .box img{
    max-width: 150px;
}
#section02 .box h3{
    font-weight: 600;
    margin: 15px 0;
}
#section02 .box p{
    display: block;
    margin-bottom: 25px;
}
#section02 #box-1{
    background: #edf5f6;
}
#section02 #box-2{
    background: #ffeeee;
}
#section02 #box-3{
    background: #fff4d6;
}